@using Entity.Concrete;
@using System.Drawing;
@model IEnumerable<Menu>

@{
    ViewData["Title"] = "GetMenus";
    var aiText = TempData["AiSuggestion"];
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Bahar Tadında Hamburger</p>
                    <h1>Menülerimiz</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="container col-md-4 center-block">
    <!-- Chat section -->



    <div>
        
    </div>

    <form id="chat-form">
        <label for="user-input">Yapay Zekaya Danışın:</label>
        <input type="text" id="user-input" name="user-input">
        <button class="btn btn-primary" type="submit" id="submit-btn">Gönder</button>
    </form>


</div>

<!-- End Chat section -->
<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">Tümü</li>
                        <li data-filter=".etmenu">Et Menüler</li>
                        <li data-filter=".tavukmenu">Tavuk Menüler</li>
                        <li data-filter=".balikmenu">Balık Menüler</li>
                        <li data-filter=".veganmenu">Vegan Menüler</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center @item.MenuCategory">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="">
                                @{
                                    var base64String = Convert.ToBase64String(item.Image);
                                    var imageUrl = $"data:image/png;base64,{base64String}";
                                }
                                <img src="@imageUrl" alt="Image" width="600" height="300" />
                            </a>
                        </div>
                        <h3>@item.Name</h3>
                        <p class="product-price"> @item.Price TL</p>
                        <p class="product-description"> @item.Description</p>
                        <a asp-controller="ShoppingCart" asp-action="AddMenuToCart" asp-route-id="@item.Id" class="cart-btn"><i class="fas fa-shopping-cart"></i> Sepete Ekle</a>
                    </div>
                </div>
            }
        </div>

    </div>
    <!-- end products -->



