@using Entity.Concrete;
@using System.Drawing;
@model IEnumerable<Menu>

@{
    ViewData["Title"] = "GetMenus";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Bahar Tadında Hamburger</p>
                    <h1>Menülerimiz</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- Chat section -->
<br />
<br />
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Ne Sevip/Sevmediğini, Açlık Durumunu Ve Kaç Kişi Olduğunu Yaz. Yapay Zeka Sana Menü Önersin!</h5>
            </div>
            <div class="card-body">
                <div id="message-box" class="form-group">
                    <label for="user-message">Mesajınızı Girin:</label>
                    <input id="user-message" type="text" class="form-control" />
                </div>
                <div id="response-box" class="form-group">
                    <label for="system-response">AI Cevabı:</label>
                    <textarea id="system-response" class="form-control" rows="3" readonly></textarea>
                </div>
                <button id="send-button" class="btn btn-primary">Cevap Gönder</button>
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@section Scripts {
    <script>
        $("#send-button").click(function () {
            var message = $("#user-message").val();
            $.ajax({
                type: "POST",
                url: "/Menus/SendMessageAsync",
                data: { message: message },
                success: function (response) {
                    // Sistem cevabı kutusuna cevabı yerleştirin.
                    $("#system-response").val(response.response);
                },
                error: function (response) {
                    alert("Bir hata oluştu.");
                }
            });
        });

            
    </script>
    }
<!-- End Chat section -->
<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">Tümü</li>
                        <li data-filter=".etmenu">Et Menüler</li>
                        <li data-filter=".tavukmenu">Tavuk Menüler</li>
                        <li data-filter=".balikmenu">Balık Menüler</li>
                        <li data-filter=".veganmenu">Vegan Menüler</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 text-center @item.MenuCategory">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="">
                                @{
                                    var base64String = Convert.ToBase64String(item.Image);
                                    var imageUrl = $"data:image/png;base64,{base64String}";
                                }
                                <img src="@imageUrl" alt="Image" width="600" height="300" />
                            </a>
                        </div>
                        <h3>@item.Name</h3>
                        <p class="product-price"> @item.Price TL</p>
                        <p class="product-description"> @item.Description</p>
                        <a asp-controller="ShoppingCart" asp-action="AddMenuToCart" asp-route-id="@item.Id" class="cart-btn"><i class="fas fa-shopping-cart"></i> Sepete Ekle</a>
                    </div>
                </div>
            }
        </div>

    </div>
    <!-- end products -->



